{% extends "base.html" %}
{% block title %}
    To Do lists
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Are You Sure?</h1>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Delete</button>
        </form>
    </div>
</main>
{% endblock content %}
