{% extends "base.html" %}

{% block title %}
    To Do Lists
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <p>
            <a href="{% url "todo_list_create" %}">Create a New List</a>
        </p>
        <p>
            <a href="{% url "todo_item_create" %}">Create a New Item</a>
        </p>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of items</th>
            </thead>
            <tbody>
                {% for list in lists %}
                    <tr>
                        <td>
                            <a href="{% url "todo_list_detail" list.id %}">{{ list.name }}</a>
                        </td>
                        <td>{{ list.items.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
